body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-home {
  background-color: white;
  -webkit-box-shadow: 0px 4px 13px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 13px -4px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo_img {
  height: 3rem;
  margin-right: 0.5rem;
}

.nav_left {
  display: flex;
  align-items: center;
  height: 3.5rem;
  flex-direction: row;
  justify-content: space-between;
  width: 9%;
}

.create_btn {
  color: rgb(255, 0, 149);
  font-weight: bold;
  text-decoration: none;
}

.nav_right {
  display: flex;
  margin-right: 4rem;
  width: 200%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav_right li {
  margin-right: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.profile_btn {
  height: 2.5rem !important;
  width: 2.5rem !important;
  border-radius: 50%;
  background-color: rgb(253, 123, 199);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.nav_right_right {
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav_right_signed_out {
  display: flex;
  margin-right: 4rem;
  justify-content: space-between;
  width: 8rem;
}

.sign_up_btn {
  text-decoration: "none";
  color: "rgb(255, 0, 149)";
  font-weight: "bold";
}

.links {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links:hover {
  background-color: rgba(218, 218, 218, 0.269);
}

.dash {
  display: flex;
}

.notification_container {
  padding: 2rem;
}

.project_list_container {
  padding: 3rem 3rem 3rem 10rem;
  width: 60%;
}

.project {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
  cursor: pointer;
  max-width: 40rem;
}

.project h2 {
  color: grey;
  font-weight: 300;
  font-size: 15px;
}

.project:hover {
  /* transition-duration: 0.3s; */
  transform: translateY(-6px);
}

.login_container{
  width: 100%;
}

.login_form{
  /* background-color:pink; */
  padding: 4rem;
  max-width: 30rem;
  margin:auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.25);
  margin-top: 5rem;
}

.login label{
  color:grey
}

.login_form input{
  border: none;
  height: 2rem;
  width: 30rem;
  border-bottom: 1px solid grey;
  outline:none;
  font-size: 1rem;
}

.login_form_btns{
  display:flex;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

.login_form_btns h6{
  font-weight: 300;
  color:rgb(49, 49, 49);
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.7rem;
}

.login_btn{
  background-color:rgb(255, 0, 149);
  color:white;
  border:none;
  width: 6rem;
  height:2.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.3rem;
  margin-left: 1.5rem;
}